* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */

header {
    display: flex;
    min-height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fd98fd;
}

.logo img {
    height: 75px;
    margin-right: 10px;
}

nav ul {
    list-style-type: none;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

nav ul li {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav ul a {
    text-decoration: none;
    font-size: 25px;
    color: #fd98fd;
}

nav ul li a:hover {
    color: rgb(239, 115, 186);
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
    }

    nav {
        padding: 10px 0px;
        color: #fd98fd;
    }
}
 

body {
    background-color: #faf0f9;
    font-family: sans-serif;
}

section article {
    background-color: white;
}

h1 {
    font-family: 'Young Serif', serif;
    font-size: 50px;
    text-align: center;
}

.titulo {
    text-align: center;
    list-style: inside;
    font-size: 80px;
    font-family: 'Young Serif', serif;
    color: #fd98fd;
    
}



.subtitulo {
    text-align: center;
    list-style: lower-alpha;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 15px;
    
}

.subtituloUno {
    text-align: center;
    list-style: georgian;
    padding: 10px;
    border: 15px double rgb(252, 119, 232);
    margin: 10px;
}

.historia {
    text-align: center;
    line-height: 1.5;
    font-size: large;
    font-family: 'Cormorant Garamond', serif;
}

.fotos {
    display: flex;
    justify-content: space-around;
    margin: 55px;
    padding: 25px;
    border: 25px;
}

.imagen {
    -webkit-box-shadow: 24px -13px 30px -5px rgba(185, 111, 235, 0.67);
    -moz-box-shadow: 24px -13px 30px -5px rgba(185, 111, 235, 0.67);
    box-shadow: 24px -13px 30px -5px rgba(185, 111, 235, 0.67);
    width: 400px;
    height: 350px;
    margin: 15px;
    border: 10px;
    padding: 15px;
}

.descripcionFotos {
text-align: center;
color: black;
font-weight: bold;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



/* footer */

footer {
    text-align: center;
    justify-content:center;
    align-items: center;
    padding: 10px;
    margin: 10px;
}



/* Nosotros */

.parrafoNosotros {
    margin: 10px;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}