* {
    box-sizing: border-box;
}

/* Header */

header {
    display: flex;
    min-height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fd98fd;
}

.logo img {
    height: 75px;
    margin-right: 10px;
}

nav ul {
    list-style-type: none;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

nav ul li {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav ul a {
    text-decoration: none;
    font-size: 25px;
    color: #fd98fd;
}

nav ul li a:hover {
    color: rgb(239, 115, 186);
}

@media (max-width: 768px) {
    body {
        padding: 0 4rem;
    }

    header {
        flex-direction: column;
    }

    nav {
        padding: 10px 0px;
        color: #fd98fd;
    }
}


body {
    background-color: #faf0f9;
    font-family: sans-serif;
    line-height: 1.6;
    padding: 0 1.5em;
}

section article {
    background-color: white;
}

h1 {
    font-family: 'Young Serif', serif;
    font-size: 50px;
    text-align: center;
}

.titulo {
    text-align: center;
    list-style: inside;
    font-size: 80px;
    font-family: 'Young Serif', serif;
    color: #fd98fd;

}



.subtitulo {
    text-align: center;
    list-style: lower-alpha;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 15px;

}

.subtituloUno {
    text-align: center;
    list-style: georgian;
    padding: 10px;
    border: 15px double rgb(252, 119, 232);
    margin: 10px;
}

.historia {
    text-align: center;
    line-height: 1.5;
    font-size: large;
    font-family: 'Cormorant Garamond', serif;
}

.fotos {
    display: flex;
    justify-content: space-around;
    margin: 55px;
    padding: 25px;
    border: 25px;
}

.imagen {
    -webkit-box-shadow: 24px -13px 30px -5px rgba(185, 111, 235, 0.67);
    -moz-box-shadow: 24px -13px 30px -5px rgba(185, 111, 235, 0.67);
    box-shadow: 24px -13px 30px -5px rgba(185, 111, 235, 0.67);
    width: 400px;
    height: 350px;
    margin: 15px;
    border: 10px;
    padding: 15px;
}

.descripcionFotos {
    text-align: center;
    color: black;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contenedor {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    font-family: 'Quicksand', sans-serif;
    overflow: hidden;
}


.info-home {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    height: auto;
    background: #fd98fd;
    width: 33.3%;
    padding: 10px;
}

.info-home ul {
    text-align: center;
    margin: 0 0 1rem 0;
    list-style: none;
    padding: 0
}

.info-home ul li {
    padding: .3em
}

.info-p {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    height: auto;
    background: #fd98fd;
    width: 33.3%;
    padding: 10px;
    text-align: center;
}


.mapa {
    order: 0;
    flex: 0 1 auto;
    align-self: center;
    height: auto;
    width: 33.3%;
    background-color: #f5d0f5;
    padding: 10px;
}


/* footer */

footer {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 80px;
    margin: 80px;
}



/*          Nosotros              */

.parrafoNosotros {
    margin: 10px;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

/*           Productos            */

.productos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    padding: 50px;
}

.productos1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    padding: 20px;
}

.card:hover {
    transform: scale(1.20);
}

.card {
    transition: all 0.3s;
}

/*         Contacto            */
.formulario {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
    font-family: 'Quicksand', sans-serif;

}

.contact-wrapper {
    box-shadow: 0 0 20px 0 rgb(172, 169, 173)
}

.contact-wrapper>* {
    padding: 0.5em;
}

.contact-form {
    background-color: #f5d0f5;
}

.contact-form form p {
    margin: 0;
    padding: 1em;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: 0.8em;
    border: none;
    background: none;
    outline: 0;
    color: #b33737;
    border-bottom: 2px solid #0c0c0c;
}

.contact-form form button {
    background: #bfbdbe;
    color: rgb(8, 8, 8);
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
    background: #d71a92;
    transition: background-color 2s ease-out;
    outline: 0;
}

/*            pantallas grandes          */
@media (max-width:768px) {
    .contact-wrapper>* {
        padding: 2em;
    }

    .contenedor{
        display: block;
    }
    .info-home, .info-p, .mapa{
        width: 100%;
    }
    .footer{
        width: 100%;
    }

}