* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*    ESTILOS INDEX   */

body {
    background-color: #faf0f9;
    font-family: sans-serif;
    line-height: 1.6;
    padding: 0 1.5em;
}

header {
    display: flex;
    min-height: 30vh;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.titulo {
    text-align: center;
    list-style: inside;
    font-size: 4em;
    font-family: 'Young Serif', serif;
    color: #fd98fd;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fd98fd;
}

.logo img {
    height: 18vh;
    margin-right: ;
}

header nav ul {
    list-style-type: none;
    padding: 10px;
    margin: 20px;
    display: flex;
    justify-content: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

header nav ul li {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

nav ul li a {
    text-decoration: none;
    font-size: 25px;
    color: #fd98fd;
}

nav ul li a:hover {
    color: rgb(239, 115, 186);
}

h1 {
    font-family: 'Young Serif', serif;
    text-align: center;
}

.subtitulo {
    text-align: center;
    list-style: lower-alpha;
    font-size: 2em;
    font-family: 'Playfair Display', serif;
    margin: 15px 30px 40px;
    padding: 10px;
}

.subtituloUno {
    text-align: center;
    list-style: georgian;
    padding: 20px;
    border: 15px double rgb(252, 119, 232);
    margin: 20px;
    font-family: 'Dosis', sans-serif;
    font-size: 2em;
}

.historia {
    text-align: justify;
    line-height: 1.5;
    font-size: 1.3em;
    font-family: 'Cormorant Garamond', serif;
    margin: 15px;
    padding: 5px;
}

.fotos {
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 25px;
}

.div-foto {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
}

.imagen {

    -webkit-box-shadow: 24px -13px 30px -5px rgba(185, 111, 235, 0.67);
    -moz-box-shadow: 24px -13px 30px -5px rgba(185, 111, 235, 0.67);
    box-shadow: 24px -13px 30px -5px rgba(185, 111, 235, 0.67);
    width: 330px;
    height: 330px;
    margin: ;
    border: 10px;
}

.descripcionFotos {
    text-align: center;
    justify-content: center;
    color: black;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    margin-top: 10px;
}

.contenedor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    font-family: 'Quicksand', sans-serif;
    overflow: hidden;
    background: #fd98fd;
    margin-top: 50px;
    margin-bottom: 50px;
}


.info-home {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    height: auto;
    width: 33.3%;
    padding: 10px;

}

.info-home ul {
    text-align: center;
    margin: 0 0 1rem 0;
    list-style: none;
    padding: 0
}

.info-home p {
    text-align: center;
}

.info-home ul li {
    padding: .3em
}

.mapa {
    display: flex;
    justify-content: center;
    order: 0;
    flex: 0 1 auto;
    height: 300px;
    width: 33.3%;
    padding: 10px;
}


/*    FOOTER     */

footer {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 80px;
}
.footer img{
    margin-bottom: 15px;
}

footer p {
    margin-top: 3px;
    margin-bottom: 2px;
    font-size: 15px;
}

/*         ESTILOS CONTACTO            */

.formulario {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
    font-family: 'Quicksand', sans-serif;
}

.contact-wrapper {
    box-shadow: 0 0 20px 0 rgb(172, 169, 173)
}

.contact-wrapper>* {
    padding: 0.5em;
}

.contact-form {
    background-color: #f5d0f5;
}

.contact-form form p {
    margin: 0;
    padding: 1em;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: 0.8em;
    border: none;
    background: none;
    outline: 0;
    color: #b33737;
    border-bottom: 2px solid #0c0c0c;
}

.contact-form form button {
    background: #bfbdbe;
    color: rgb(8, 8, 8);
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
    background: #d71a92;
    transition: background-color 2s ease-out;
    outline: 0;
}

/*    ESTILOS NOSOTROS              */

.contenedor-nosotros {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    margin-bottom: 200px;
}

.icono-reloj {
    margin: 50px 10px 25px 80px;
    padding: 10px 5px 10px 15px;

}

.parrafoNosotros {
    margin: 30px;
    padding: 30px;
    font-family: 'Raleway', sans-serif;
}


/*           ESTILOS PRODUCTOS         */
.adivinanza{
text-align: center;
margin: 1.5rem;
}
.adivinanza p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.adivinanza button{
    background-color: #fd98fd;
}


.contenedor-productos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin: 3rem;
}

.card:hover {
    transform: scale(1.20);
}

.card {
    transition: all 0.3s;
    margin: 10px;
    padding: 2px;
}




/*            pantallas menores a 768px          */

@media (max-width:768px) {

    /*estilo index*/

    header {
        flex-direction: column;
        padding-bottom: 15px;
    }

    nav {
        color: #fd98fd;
        margin: 20px;
    }

    nav ul li a {
        font-size: 20px;
        text-align: center;
    }

    nav ul li {
        text-align: center;
        padding-bottom: 3px;
    }

    .titulo {
        font-size: 35px;
    }

    .subtitulo {
        font-size: 18px;
        margin: 0px 5px 15px 5px;
        padding: 10px;
    }


    .subtituloUno {
        font-size: 30px;
    }
    .historia{
        font-size: 18px;
    }

    .div-foto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 25px;
        padding: 5px;
    }
    .foto-img{
        margin: 20px;
    }

    .contenedor {
        display: block;
        width: 100%;
        height: 90vh;
        margin-top: 50px;
    }

    .info-home,
    .info-p,
    .mapa {
        width: 100%;
    }

    .footer {
        margin: 45px;
        padding: 10px;
    }
    .footer a img{
        margin-bottom: 15px;
    }

    footer p {
        font-size: 12px;
        padding-top: 2px;
        padding-bottom: 2px;
    }

    /*estilo contacto*/

    .contact-wrapper>* {
        padding: 2em;
    }

    .formulario-titulo {
        text-align: center;
    }

    /* estilo nosotros*/

    .contenedor-nosotros {
        display: block;
    }

    .icono-reloj {
        display: flex;
        justify-content: center;
        margin: 25px;
        padding: 5px;
    }

    .parrafoNosotros {
        margin-top: 5px;
        padding-top: 5px;
        text-align: justify;
    }

    /* estilo productos*/

    .contenedor-productos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3px;
    }
}